body{
    font-family: Verdana;
    font-size: 1.1em;
    background-color: #c0c0c0;
    color: darkblue;
}

h1{
    font-variant: all-small-caps;
    background-color: red;

}
ul{
    border: black dotted 1px;
}
a:hover{
    color: red;
}
.stippeltjesrand{
    border: black dotted 1px;
}